<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.lemain.mapper.UserMapper">
    <resultMap id = "result" type = "com.lemain.domain.User">
        <result property = "id" column = "id"/>
        <result property = "phoneNum" column = "phone_num"/>
        <result property = "passWord" column = "pass_word"/>
        <result property = "headPic" column = "head_pic"/>
        <result property = "sex" column = "sex"/>
        <result property = "age" column = "age"/>
    </resultMap>
    <select id = "findUserById" resultMap = "result">
        SELECT * FROM user where id = #{id};
    </select>
</mapper>