<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.lemain.mapper.UserMapper">
    <resultMap id = "result" type = "com.lemain.domain.User">
        <result property = "id" column = "id"/>
        <result property = "lat" column = "lat"/>
        <result property = "lon" column = "lon"/>
        <result property = "userId" column = "user_id"/>
        <result property = "tcontent" column = "tcontent"/>
        <result property = "length" column = "length"/>
        <result property = "supportNum" column = "support_num"/>
        <result property = "conmentNum" column = "conment_num"/>

    </resultMap>
    <select id = "findUserById" resultMap = "result">
        SELECT * FROM title where id = #{id};
    </select>
</mapper>